.terraform.*
.terraform/
terraform.tfstate*
terraform.tfvars
k8s-hcloud/.auto.tfvars
k8s-hcloud/.DS_Store
k8s-hcloud/modules/iaas/secrets/
k8s-hcloud/graph.png
k8s-hcloud/venv/
k8s-hcloud/terraform.lock
k8s-hcloud/last.log
aws-kubeadm/*.conf
